* {
    margin : 0;
    padding : 0;
}

#menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.accueil {
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    color: black;
    background-color: #f0f0f0;
    /* transition: translate 1.5s; */

}
.done {
    transition: transform 1.5s ease;
    transform: translateY(-100%);
}

.container {
    margin: 23%;
    text-align: center;
}
.title {
    font-size: 2em;
    margin-bottom: 20px;
}
.description {
    max-width: 70%;
    font-size: 1.2em;
    margin: 0 auto;
    margin-bottom: 30px;
    
}
.button {
    padding: 10px 20px;
    font-size: 1.2em;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover {
    background-color: #0056b3;
}
.credits {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px 0;
    font-size: 0.8em;
}
p {
    margin: 10px;
}
a {
    color: #007BFF;
    text-decoration: none;
}
